In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn.ensemble import RandomForestRegressor 
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import r2_score

In [2]:
data=pd.read_csv(r"C:\Users\Lenovo\Downloads\archive (11)\car data.csv")

In [3]:
data

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [4]:
data.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Driven_kms       0
Fuel_Type        0
Selling_type     0
Transmission     0
Owner            0
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Driven_kms     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Selling_type   301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [6]:
le=LabelEncoder()
data['Car_Name']=le.fit_transform(data['Car_Name'])
data['Fuel_Type']=le.fit_transform(data['Fuel_Type'])
data['Selling_type']=le.fit_transform(data['Selling_type'])
data['Transmission']=le.fit_transform(data['Transmission'])

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    int32
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Driven_kms     301 non-null    int64
 5   Fuel_Type      301 non-null    int32
 6   Selling_type   301 non-null    int32
 7   Transmission   301 non-null    int32
 8   Owner          301 non-null    int64
dtypes: float64(2), int32(4), int64(3)
memory usage: 16.6 KB

In [8]:
print("Median \n",data.median)

Median
 <bound method DataFrame.median of      Car_Name  Year  Selling_Price  Present_Price  Driven_kms  Fuel_Type  \
0          90  2014           3.35           5.59       27000          2
1          93  2013           4.75           9.54       43000          1
2          68  2017           7.25           9.85        6900          2
3          96  2011           2.85           4.15        5200          2
4          92  2014           4.60           6.87       42450          1
..        ...   ...            ...            ...         ...        ...
296        69  2016           9.50          11.60       33988          1
297        66  2015           4.00           5.90       60000          2
298        69  2009           3.35          11.00       87934          2
299        69  2017          11.50          12.50        9000          1
300        66  2016           5.30           5.90        5464          2

     Selling_type  Transmission  Owner
0               0             1      0
1               0             1      0
2               0             1      0
3               0             1      0
4               0             1      0
..            ...           ...    ...
296             0             1      0
297             0             1      0
298             0             1      0
299             0             1      0
300             0             1      0

[301 rows x 9 columns]>

In [9]:
x=data.drop(columns=['Selling_Price'])
y=data['Selling_Price']

In [10]:
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=42,test_size=0.2)
print(x_train.shape)
print(x_test.shape)

(240, 8)
(61, 8)

In [12]:
lr=LinearRegression()
lr.fit(x_train,y_train)
y_pred_lr=lr.predict(x_test)
print("R2 Score:",r2_score(y_test,y_pred_lr))

R2 Score: 0.8464540623821926

In [ ]:
rr=RandomForestRegressor()
rr.fit(x_train,y_train)
y_pred_rr=rr.predict(x_test)
print("R2 Score Random Forest:",r2_score(y_test,y_pred_rr))

R2 Score Random Forest: 0.9643609412383374

In [ ]:
custom_data=pd.DataFrame([
    {
        'Car_Name':'Swift VXI',
        'Year':2018,
        'Present_Price':7.5,
        'Driven_kms':40000,
        'Fuel_Type':'Petrol',
        'Selling_type':'Dealer',
        'Transmission':'Manual',
        'Owner':0
    }
])
custom_data['Car_Name']=le.fit_transform(custom_data['Car_Name'])
custom_data['Fuel_Type']=le.fit_transform(custom_data['Fuel_Type'])
custom_data['Selling_type']=le.fit_transform(custom_data['Selling_type'])
custom_data['Transmission']=le.fit_transform(custom_data['Transmission'])

pr_prize=rr.predict(custom_data)
print(pr_prize)

[5.283]

In [ ]:
data

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,90,2014,3.35,5.59,27000,2,0,1,0
1,93,2013,4.75,9.54,43000,1,0,1,0
2,68,2017,7.25,9.85,6900,2,0,1,0
3,96,2011,2.85,4.15,5200,2,0,1,0
4,92,2014,4.60,6.87,42450,1,0,1,0
...,...,...,...,...,...,...,...,...,...
296,69,2016,9.50,11.60,33988,1,0,1,0
297,66,2015,4.00,5.90,60000,2,0,1,0
298,69,2009,3.35,11.00,87934,2,0,1,0
299,69,2017,11.50,12.50,9000,1,0,1,0
300,66,2016,5.30,5.90,5464,2,0,1,0